a:link,
a:visited {
    background-color: #232323;
    color: bisque;
    padding: 14px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    background-color: red;
}
